@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #FFEAD0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

nav .active {
  color: #161616;
}
nav .active::after {
  width: 100%;
  background-color: #161616;
}
