.container {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 24px;
}
.container p {
  max-width: 450px;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
  color: #161616;
}
.backlink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  padding: 10px 40px;
  border-radius: 5px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  text-decoration: none;
  color: #fff;
  background: #161616;
}
